@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat,tahoma,sans-serif;
  color: #fff;
  font-weight: bold;
}

p {
  font-size: 2.5rem;
  font-weight: bold;
}

#firstgroup {
  display: inline-flex;
  margin-top: 50px;
  margin-left: 125px;
  justify-content: space-between;
  width: 89.8%;
}

#container {
  width: 360px;
  display: flex;
  justify-content: space-between;  
}

button {
  width: 60px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(163, 162, 162, 0.842);
    border-radius: .5rem;
    outline: none;
    transition: 1s ease-in-out;
    color: white;
}

  #changeColor:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .imgRec {
    width: 20px;
    height: 20px; 
    filter: brightness(0) invert(1);
  }

  .imgRec:hover {
    transform: rotate(500grad);
    transition: 3s ease;
  }

  #searchInput {
    width: 300px;
    display: flex;
  }

  #setWeather {
    width: 65px;
    background: rgba(163, 162, 162, 0.842);
    border-radius: 0 .5rem .5rem 0;
  }

  #location {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;    
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid rgba(163, 162, 162, 0.842);
    border-right:none;
    float: left;
  }
  
  #microfonIcon {
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(163, 162, 162, 0.842);
    border-left: none;
    background: rgba(0, 0, 0, 0.5);
    filter: brightness(0) invert(1);
  }

  #title {
    width: 654px;
    height: 115px;
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 3.4rem;
    font-weight: bold;
  }

  #map {
    position: absolute;
    height: 450px;
    left: 900px;
    top: 244px;
    bottom: 0; 
    width: 43%;
    border-radius: 8px;
  }

  #weatherCont {
    display: flex;
    flex-direction: inherit;
    width: 831px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 18px;

  }
  #forecastTemp, #forecastTempSecond, #forecastTempThird {
    float: left;
    font-size: 3rem;

  }
  #sectionCurr {
    width: 96%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #tempNow {
    font-size: 16rem;
    width: 70%;
  }

  #sectionCurrText  {
    width: 400px;
  }

  #sectionCurrText p {
    font-size: 2rem;
  }

  #sectionCurrText #icon {
    width: 200px;
    height: 200px;
  }

  #sectionFirst, #sectionSecond, #sectionThird {
    padding: 20px;
  }

  #sectionLocal {
    margin-right: 92px;
    margin-top: -112PX;
    float: right;
  }

  #sectionLocal p {
    font-size: 1.9rem;
  }